.elementHeader {
  margin: 0;
  padding: 0;
}

.elementWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 0.666rem;
}

.elementHeaderRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.elementEntryRow, .elementInfoRow {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
}

.elementEntryRow > * {
  margin: 0;
  padding: 0;
}

.elementEntryRow > svg {
  width: auto;
  height: 1.5rem;
}

.elementEntryRow > label {
  font-weight: 500;
  text-decoration: underline;
}

.elementEntryRow > input {
  border: 1px solid var(--foreground-color);
  color: var(--foreground-color);
  background-color: var(--background-color);
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.elementEntryRowsWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  border: 1px solid var(--foreground-color);
  border-radius: 0.5rem;
  padding: 1rem;
}

.elementButtonsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 0.5rem;
}

.elementButtonWide {
  grid-column-start: 1;
  grid-column-end: 4;
}

.elementButton {
  background-color: var(--background-color);
  color: var(--foreground-color);
  border: 1px solid var(--foreground-color);
  border-radius: 0.5rem;
  padding: 0.333rem 0;
}