@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

:root {
  --background-color: #fff;
  --foreground-color: #000;
  --font-size: 1.05rem;
  --font-size-small: 0.9rem;
  --font-family: 'Roboto', sans-serif;
  --font-weight-light: 300;
  --font-weight-heavy: 500; }

::-moz-selection { background: default; }
::selection { background: default; }

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight-light);
  min-height: 100vh;
  min-width: 100%;
  cursor: default;
  color: var(--foreground-color);
  background-color: var(--background-color);
  text-overflow: ellipsis; }

body {
  display: flex;
  align-items: flex-start;
  justify-content: center; }

a {
  color: inherit;
  text-decoration: none; }

* {
  box-sizing: border-box; }

#__next {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(2rem, 4rem) auto minmax(4.5rem, 5.5rem);
  grid-gap: 0.5rem;
  min-height: 100vh;
  width: 960px; }
  #__next > main > * + * {
    margin-top: 0.8rem; }
  @media only screen and (max-width: 1080px) {
    #__next {
      width: 100%;
      padding: 0 1.25rem;
      grid-template-rows: minmax(auto, 6rem) auto 9rem; }
    #__next > * {
      width: 100%; } }