@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  min-height: 100vh;
  min-width: 100%;
  cursor: default;
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(2rem, 4rem) auto minmax(2rem, 3rem);
  min-height: 100vh;
  max-width: 1280px;
}