.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 12rem;
  height: 100%;
  cursor: pointer;
}

.contentWrapper > span:last-of-type > h1 {
  font-size: 2.65rem;
  margin: .95rem 0 0 0.22rem;
  font-weight: var(--font-weight-heavy);
  text-align: center;
}

.iconWrapper > svg {
  width: 8.3rem !important;
  height: auto;
}

.contentWrapper > span:last-of-type {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}