.headerMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin: 0;
  padding: 0;
}

.headerTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.headerTitle > h1 {
  margin: 0 0 0 0.33rem;
  padding: 0;
}

.headerTitle > svg {
  width: 1.66rem;
  height: 1.66rem;
  padding-bottom: 0.1rem;
}

.navbarMain {
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  display: grid;
}

.navbarMain > ul {
  justify-self: flex-end;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbarMain > ul > li {
  list-style: none;
  margin: 0;
  padding: 0.65rem;
  cursor: pointer;
}

@media only screen and (max-width: 666px) {
  .headerMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.5rem;
  }

  .headerTitle {
    align-self: center;
    justify-self: center;
    padding-top: 0.5rem 0 0 0;
  }

  .navbarMain {
    align-self: center;
    justify-self: center;
    height: 1.5rem;
  }

  .navbarMain > ul {
    justify-self: center;
  }

  .navbarMain > ul > li {
    padding: 0.25rem 0.65rem;
  }
}

.layoutMain {

}

.footerMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footerMain > * {
  padding: 0;
  margin: 0;
}

.footerMain > button {
  color: var(--foreground-color);
  background-color: var(--background-color);
  border: 1px solid var(--foreground-color);
  border-radius: 0.333rem 0.666rem;
  padding: 0.333rem 0.8rem;
}